@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
}

.layout {
	background-color: #272c38;
	font-family: 'NeoSansPro-Regular';
	width: 290px;
	padding: 30px 10px;
}

.layout > .center {
	color: white;
	text-align: center;
}

.layout > .center > .title {
	font-size: 26px;
}

.layout > .center > .about, .layout > .center > .info {
	margin-top: 10px;
}

.layout > .center > .about {
	font-size: 16px;
}

.layout > .center > .info {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

@font-face {
	font-family: 'fontbaf7b1055484a2eb9215b5e296843efd';
	src: url("https://nomail.com.ua/files/eot/baf7b1055484a2eb9215b5e296843efd.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/baf7b1055484a2eb9215b5e296843efd.woff") format("woff"), url("https://nomail.com.ua/files/woff2/baf7b1055484a2eb9215b5e296843efd.woff2") format("woff2");
}

@font-face {
	font-family: 'NeoSansPro-Regular';
	src: local("NeoSansPro-Regular"), url("https://nomail.com.ua/files/woff/baf7b1055484a2eb9215b5e296843efd.woff") format("woff");
}

/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/
#neosanspro {
	font-family: 'NeoSansPro-Regular';
}

.fontbaf7b1055484a2eb9215b5e296843efd {
	font-family: 'fontbaf7b1055484a2eb9215b5e296843efd';
}

